<div>

  <div class="position-fixed-top-left size-full-width z-index-top color-light font-size-small padding-2">
    <div breadcrumb project-id="project.id" project-name="project.name"></div>
  </div>

  <div class="color-light list-header overflow-auto">
    <h1 ng-hide="project.$vrIsLoading">List of suites in {{project.name}}</h1>

    <div ng-show="project.$vrIsLoading" class="text-small color-light">
      Retrieving...
    </div>

    <div ng-show="project.$vrHasError" class="text-small color-red">
      Could not retrieve list of suites. {{project.$vrErrorMessage}}
    </div>

    <div ng-repeat="suite in project.suites" ng-hide="project.$vrIsLoading">
      <a class="text-decoration-none" href="#/{{project.id}}/{{suite.id}}/">
        <span class="text-big font-bold color-light text-decoration-underline">
            {{suite.name}}
        </span>

      </a>
    </div>
    <div ng-hide="project.$vrIsLoading  || project.$vrHasError || project.suites.length > 0">
      No suites found in this project. New suites are automatically created when running a test.
    </div>
  </div>


</div>