<div ng-show="testRun">

  <div navbar profile-id="profileId" run-id="runId"></div>

  <div class="screenshot-thumbnail-table">
    <div ng-repeat="image in testRun.imageMetaDataList" class="screenshot-thumbnail-container" ng-class="'status-' + (image.status | lowercase)">
      <div class="screenshot-thumbnail-status"><span style="display: inline-block; vertical-align: middle; line-height: normal;">{{image.after}}</span></div>
      <a ng-href="#/{{profileId}}/{{runId}}/{{$index}}">
        <img class="screenshot-thumbnail" ng-src="../repo/{{profileId}}/{{runId}}/after/{{image.after}}">
      </a>
    </div>
  </div>


</div>