<div ng-if="analysis" keyboard>
  <div class="counter-container">
    <div class="text-center text-shadow-radial">
      <div ng-click="selectPreviousScreenshot()" transparent="selectedDiffIndex == 0" class="counter-arrow">∧</div>
      <div>{{selectedDiffIndex + 1}} / {{diffs.length}}</div>
      <div ng-click="selectNextScreenshot()" transparent="(selectedDiffIndex + 1) == diffs.length"
           class="counter-arrow">∨
      </div>
    </div>
  </div>

  <div navbar
       project-id="run.projectId"
       project-name="analysis.projectName"
       suite-id="run.suiteId"
       suite-name="analysis.suiteName"
       run-id="runId"
       creation-time="run.startTime"
       screenshot="diffs[selectedDiffIndex]"
       show-diff="showDiff"
       screenshot-type="selectedScreenshot"
       screenshots="diffs">
  </div>

  <div class="size-max-width-1 padding-top-2 padding-bottom-8 text-center" style="max-width:100%;">
    <div>
      <img ng-show="showDiff" ng-src="/api/image/{{diffs[selectedDiffIndex].imageId}}" style="position:absolute;"/>
      <img ng-src="/api/image/{{diffs[selectedDiffIndex][selectedScreenshot].imageId}}"/>
    </div>
  </div>

</div>
