<div vr-dropdown="screenshotStatusButton">
    <div class="navbar-status status-{{currentStatus | lowercase}}" vr-dropdown-toggle>
        <div class="navbar-status-icon icon icon-{{currentStatus | lowercase}}"></div>
    </div>
    <div vr-dropdown-contents>
        <div ng-repeat="otherStatus in otherStatusses">
            <div class="navbar-status status-{{otherStatus | lowercase}}" ng-click="setStatus(otherStatus)">
                <div class="navbar-status-icon icon icon-{{otherStatus | lowercase}}"></div>
            </div>
        </div>
    </div>
</div>