<div>

    <div navbar project-id="suite.project.id" project-name="suite.project.name" suite-id="suite.id" suite-name="suite.name"></div>

    <div class="project-container overflow-auto">
        <h1 ng-hide="suite.$vrIsLoading">List of runs in project {{suite.project.name}} - suite {{suite.name}}</h1>

        <div ng-show="suite.$vrIsLoading" class="text-small">
            Retrieving...
        </div>

        <div ng-show="suite.$vrHasError" class="text-small text-red">
            Could not retrieve list of runs. {{suite.$vrErrorMessage}}
        </div>

        <div ng-repeat="run in suite.runs" ng-hide="suite.$vrIsLoading">
            <a class="text-decoration-none" href="#/{{suite.project.id}}/{{suite.id}}/{{run.id}}">
                <span class="project-header">
                    {{run.id}} - {{run.startTime | date : 'medium'}}
                </span>
            </a>
        </div>

        <div ng-hide="suite.$vrIsLoading || suite.$vrHasError || suite.runs.length > 0">
            No runs found in this suite. New runs will display here after a test has been run.
        </div>
    </div>


</div>