<div ng-show="analysis" keyboard>

  <div ng-include="'/app/scripts/run/partials/counter.html'"
       ng-show="diffs.length > 0"
       class="counter-container"></div>

  <div class="run-navbar">
    <div class="run-navbar-inner">
      <!-- breadcrumb, filter, screenshot status -->
      <div class="run-navbar-column-context">
        <div class="run-navbar-inner-row-container background-light">
          <a href="/#/" class="logo">
            <i class="icon-vr-diamond color-purple padding-left-4 padding-right-4"></i>
            <span class="sr-only">VisualReview</span>
          </a>
          <div class="font-size-small">
            <div class="ellipsis-container size-max-width-1 padding-bottom-05 padding-right-1"
                 ng-show="run.projectId">
              <div breadcrumb
                   project-id="run.projectId"
                   project-name="analysis.projectName"
                   suite-id="run.suiteId",
                   suite-name="analysis.suiteName"
                   run-id="run.id"
                   creation-time="run.startTime"></div>
            </div>
            <div style="position: relative;">
              <div diff-filter-selector="currFilter" totals="totals"></div>
            </div>
          </div>
        </div>

        <!-- screenshot status-->
        <div ng-show="diffs[selectedDiffIndex]"
             diff-status-selector="diffs[selectedDiffIndex]"
						 on-status-selected="statusUpdated()"
						 diff-status-background="diffs[selectedDiffIndex].status"
						 class="run-navbar-column-status clickable">
				</div>


      </div>

      <!-- screenshot name + metadata-->
      <div class="run-navbar-column-screenshot clickable"
           diff-status-background="diffs[selectedDiffIndex].status" ng-show="diffs[selectedDiffIndex]" dropdown-toggle="screenshotSelector">

        <div dropdown-contents="screenshotSelector" class="z-index-top">
          <table style="border-collapse: collapse;">
            <tr ng-repeat="aDiff in diffs" class="padding-2 clickable gray-on-hover"
                ng-class="{'font-type-semibold': aDiff === diffs[selectedDiffIndex]}"
                ng-click="selectDiff($index)">
              <td class="padding-2 nowrap-container">
                <span class="icon-{{aDiff.status | lowercase}}"></span>
              </td>
              <td class="padding-2 nowrap-container">
                {{aDiff.after.screenshotName}}
              </td>
              <td class="padding-2 nowrap-container">
                <span screenshot-metadata meta="aDiff.after.meta" properties="aDiff.after.properties"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="run-navbar-screenshot-name">
          {{diffs[selectedDiffIndex].after.screenshotName}}
        </div>
        <div class="run-navbar-screenshot-metadata">

          <div class="padding-left-2 padding-right-2 ellipsis-container font-size-medium">
            <span screenshot-metadata meta="diffs[selectedDiffIndex].after.meta" properties="diffs[selectedDiffIndex].after.properties"></span>
          </div>

        </div>
        <div class="run-navbar-dropdown-icon-outer">
          <div class="run-navbar-dropdown-icon icon-chevron-down"></div>
        </div>
      </div>


      <!-- baseline & diff selection -->
      <div class="run-navbar-column-controls background-light" ng-show="diffs[selectedDiffIndex]">
        <div class="run-navbar-inner-row-container font-size-small nowrap-container" ng-show="diffs">
            <div class="padding-right-2">
              <input type="radio" id="radio-baseline" name="imageVersionDisplay" value="before" ng-model="selectedScreenshot" ng-disabled="!diffs[selectedDiffIndex].before">
              <label for="radio-baseline" class="unselectable">baseline</label>
            </div>
            <div class="padding-right-2">
              <input type="radio" id="radio-actual" name="imageVersionDisplay" value="after" ng-model="selectedScreenshot" >
              <label for="radio-actual" class="navbar-image-controls-space unselectable">actual</label>
            </div>
            <div class="padding-right-2">
              <input type="checkbox" id="checkbox-difference" name="imageDifferenceDisplay" ng-model="showDiff">
              <label for="checkbox-difference" class="unselectable">show diff ({{diffs[selectedDiffIndex].percentage}} %)</label>
            </div>
        </div>
      </div>
    </div>

  </div>

  <!-- image -->
  <div class="size-max-width-1 padding-top-2 padding-bottom-8 text-center" style="max-width:100%;" ng-if="diffs.length > 0">
    <div>
      <img ng-show="showDiff" ng-src="/api/image/{{diffs[selectedDiffIndex].imageId}}" style="position:absolute;"/>
      <img ng-src="/api/image/{{diffs[selectedDiffIndex][selectedScreenshot].imageId}}"/>
    </div>
  </div>

  <div ng-if="allDiffs.length > 0 && diffs.length == 0" ng-switch="totals.pending == 0 && totals.rejected == 0 && totals.accepted > 0" class="color-light list-header text-center">
      <div ng-switch-when="true">
        <p>All screenshot diffs of this run have been accepted. Good job!</p>
        <a class="text-decoration-none font-size-small" href="#/{{run.projectId}}/{{run.suiteId}}/{{run.id}}/all"><span class="color-light">Click here</span> to view all diffs</a>
      </div>
      <div ng-switch-default="">
        <p>There are no screenshots left that have the status '{{currFilter}}'.</p>
        <p>Change the filter in the upper left to see more.</p>
      </div>
    </div>
  </div>

</div>

<div ng-if="analysis && allDiffs.length == 0">
  <div class="color-light list-header overflow-auto text-center">
    <p>No screenshots recorded in this run</p>
    <a class="text-decoration-none font-size-small" href="#/{{run.projectId}}/{{run.suiteId}}/"><span class="color-light">< back to suite</span></a>
  </div>
</div>
