<div>
    <div class="position-fixed-top-left size-full-width z-index-top color-light font-size-small padding-2">
        <div breadcrumb project-id="suite.project.id" project-name="suite.project.name" suite-id="suite.id" suite-name="suite.name"></div>
    </div>

    <div class="color-light list-header overflow-auto">
        <h1 ng-hide="suite.$vrIsLoading">List of runs in <br/> project {{suite.project.name}} - suite {{suite.name}}</h1>

        <div ng-show="suite.$vrIsLoading" class="text-small color-light">
            Retrieving...
        </div>

        <div ng-show="suite.$vrHasError" class="text-small color-red">
            Could not retrieve list of runs. {{suite.$vrErrorMessage}}
        </div>

        <div ng-repeat="run in suite.runs" ng-hide="suite.$vrIsLoading">
            <div class="hover-target">
                <a class="text-decoration-none" href="#/{{suite.project.id}}/{{suite.id}}/{{run.id}}">
                    <span class="text-big font-bold color-light text-decoration-underline">
                        {{run.id}} - {{run.startTime | date : 'medium'}}
                    </span>
                </a>

                <div class="float-right">
                    <div ng-hide="run.$vrIsLoading"
                         ng-click="deleteRun(run.id)"
                         class="visible-on-hover color-light-gray clickable icon-trash"></div>
                </div>
            </div>
        </div>
        <div ng-show="deletedRun.$vrIsLoading" class="text-small">deleting ..</div>

        <div ng-hide="suite.$vrIsLoading || suite.$vrHasError || suite.runs.length > 0">
            No runs found in this suite. New runs will display here after a test has been run.
        </div>
    </div>


</div>